<%- include('../partials/header') %>
</br>
<div class="container-md d-flex justify-content-center">
    <div>
            <div><h1><%= title %></h1></div>
            <div><h2><%= profile.position %></h2></div>
            <div><%= profile.team.full_name %></div></br>
            <% if (user) { %>
                <form action="/players/<%= profile.id %>" method="POST">
                    <button class="btn btn-outline-danger">FAVORITE</button>
                </form>
            <% } %>
            </br>
            <div><p>No stats on players not playing in 2021-2022 season.</p></div>
    </div>
            
</div>

<%- include('../partials/footer') %>