<%- include('../partials/header') %>
</br>
<div class="container-md justify-content-center">
    <div class="row">
    <div>
            <div><h1><%= title %></h1></div>
            <div><h2><%= profile.position %></h2></div>
            <div><a href="/teams/<%= profile.team.id %>"><%= profile.team.full_name %></a></div></br>
            <div><% if (user) { %>
                <form action="/players/<%= profile.id %>" method="POST">
                    <button class="btn btn-outline-danger">FAVORITE</button>
                </form>
            <% } %></div>
        
    </div>
        <div class="fs-2 fw-bold">Season Average</div>
        <div class="table-responsive-md">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="col">GP</td>
                    <th class="col">MIN</td>
                    <th class="col">PTS</td>
                    <th class="col">FG%</td>
                    <th class="col">3PT%</td>
                    <th class="col">REB</td>
                    <th class="col">AST</td>
                    <th class="col">STL</td>
                    <th class="col">BLK</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col"><%= stats.games_played %></td>
                    <td class="col"><%- parseFloat(stats.min).toFixed(2) %></td>
                    <td class="col"><%= stats.pts %></td>
                    <td class="col"><%- parseFloat(stats.fg_pct * 100).toFixed(2) %></td>
                    <td class="col"><%- parseFloat(stats.fg3_pct * 100).toFixed(2) %></td>
                    <td class="col"><%= stats.reb %></td>
                    <td class="col"><%= stats.ast %></td>
                    <td class="col"><%= stats.stl %></td>
                    <td class="col"><%= stats.blk %></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <br><br><h2>Comments</h2>
    <form id="add-comment-form" method="POST"
      action="/players/<%= profile.id %>/comments">
      <div class="form-group">
      <label>Add Comment:</label>
      <textarea class="form-control" rows="3" name="content"></textarea>
      <button type="submit" class="btn btn-primary" value="Add Comment">Add Comment</button>
    </div>
    </form>
    </div>




<%- include('../partials/footer') %>