<%- include('../partials/header') %>

<div class="container-md d-flex justify-content-center">
    <div>
            <div><h1><%= title %></h1></div>
            <div><h2><%= profile.position %></h2></div>
            <div><%= profile.team.full_name %></div></br>
            <div><% if (user) { %>
                <form action="/players/<%= profile.id %>" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></div>
        
    </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="col">GP</td>
                    <th class="col">MIN</td>
                    <th class="col">PTS</td>
                    <th class="col">FG%</td>
                    <th class="col">3PT%</td>
                    <th class="col">REB</td>
                    <th class="col">AST</td>
                    <th class="col">STL</td>
                    <th class="col">BLK</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col"><%= stats.games_played %></td>
                    <td class="col"><%- parseFloat(stats.min).toFixed(2) %></td>
                    <td class="col"><%= stats.pts %></td>
                    <td class="col"><%- parseFloat(stats.fg_pct * 100).toFixed(2) %></td>
                    <td class="col"><%- parseFloat(stats.fg3_pct * 100).toFixed(2) %></td>
                    <td class="col"><%= stats.reb %></td>
                    <td class="col"><%= stats.ast %></td>
                    <td class="col"><%= stats.stl %></td>
                    <td class="col"><%= stats.blk %></td>
                </tr>
            </tbody>
        </table>

    </div>


<%- include('../partials/footer') %>