<%- include('../partials/header') %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <% playerData.forEach(function(r){ %>
            <tr>
                <td><a href="/players/<%= r.id %>"><%= `${r.first_name} ${r.last_name}`%></a></td>
                <td><%= r.id %></td>
                <td><%= r.team.full_name %></td>
                <td><button>FAVORITE</button></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
<%- include('../partials/footer') %>