<%- include('../partials/header') %>
</br>
<div class="container-md d-flex justify-content-center">

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <% playerData.forEach(function(r){ %>
            <tr>
                <td><a href="/players/<%= r.id %>"><%= `${r.first_name} ${r.last_name}`%></a></td>
                <td><%= r.id %></td>
                <td><%= r.team.full_name %></td>
                <td><% if (user) { %>
                    <form action="/players/<%= r.id %>" method="POST">
                        <button class="btn btn-outline-danger">FAVORITE</button>
                    </form>
                <% } %>
                    
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</div>
<%- include('../partials/footer') %>