<%- include('../partials/header') %>
<div class="container-sm d-flex justify-content-center">
    <div>
    <div class="fs-2 fw-bold"><%= team.full_name%></div>
    <div class="fs-4 fw-light"><%= team.conference%>ern Conference</div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Opponent</th>
                <th>Opp. Score</th>
                <th>Score</th>
                <th>W/L</th>
            </tr>
        </thead>
    <tbody>
        <% for(let i = 0; i < 5; i++) { %>
            <% let date = new Date(games[i].date)%>
            <% date.setDate(date.getDate() + 1) %>
            <tr>
            <td><%= date.toDateString()  %></td>
            <!-- if (games[i].home_team.id == team.id) {
                if (games[i].home_team_)
            } -->
            
            <% if (games[i].home_team.id == team.id) { %> 
                <% if (games[i].home_team_score > games[i].visitor_team_score) { %>
                    
                    <td><a href='/teams/<%= games[i].visitor_team.id %>'><img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].visitor_team.abbreviation).toLowerCase() %>.png" alt="" width="30" height="30">  <%= games[i].visitor_team.full_name%></a></td>
                    
                    <td><%= games[i].visitor_team_score%></td>
                    <td><%= games[i].home_team_score%></td>
                    <% if (games[i].status != 'Final') { %>
                        <td><%= games[i].status %></td>
                    <% } else { %>                        
                        <td>Win</td>
                    <% } %>
                <% } else if (games[i].home_team_score < games[i].visitor_team_score){ %> 
                    
                    <td ><a href='/teams/<%= games[i].visitor_team.id %>'><img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].visitor_team.abbreviation).toLowerCase() %>.png" alt="" width="30" height="30">  <%= games[i].visitor_team.full_name%></a></td>
                    <td><%= games[i].visitor_team_score%></td>
                    <td><%= games[i].home_team_score%></td>
                    <% if (games[i].status != 'Final') { %>
                        <td><%= games[i].status %></td>
                    <% } else { %>                        
                        <td>Loss</td>
                    <% }  } %>
                <% } else { if (games[i].visitor_team_score > games[i].home_team_score) { %> 
                    
                    <td><a href='/teams/<%= games[i].home_team.id %>'><img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].home_team.abbreviation).toLowerCase() %>.png" alt="" width="30" height="30">  <%= games[i].home_team.full_name%></td>
                        <td><%= games[i].home_team_score%></td>
                        <td><%= games[i].visitor_team_score%></td>
                        <% if (games[i].status != 'Final') { %>
                            <td><%= games[i].status %></td>
                        <% } else { %>                        
                            <td>Win</td>
                        <% } %>
                    <% } else if (games[i].visitor_team_score < games[i].home_team_score){ %> 
                        
                        <td><a href='/teams/<%= games[i].home_team.id %>'><img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].home_team.abbreviation).toLowerCase() %>.png" alt="" width="30" height="30">  <%= games[i].home_team.full_name%></a></td>
                        <td><%= games[i].home_team_score%></td>
                        <td><%= games[i].visitor_team_score%></td>
                        <% if (games[i].status != 'Final') { %>
                            <td><%= games[i].status %></td>
                        <% } else { %>                        
                            <td>Loss</td>
                        <% } %> <% } %>
                <% }  %> 
            </tr>
        <% } %>
                </tbody>
    </table>
</div>
    <!-- id: Number,
    abbreviation: String,
	city: String,
    name: String,
    fullName: String,
    conference: String,
    division: String -->
<%- include('../partials/footer') %>