<%- include('./partials/header') %>
</br>
    <div class="container-md justify-content-center">
        
        <div class="col-md-auto fs-4 fw-bold text">TOP PLAYERS: </div>
        <table class="col table table-striped table-borderless">
            <thead>
                <tr>
                    <td class="fw-bold">NAME</td>
                    <td class="fw-bold">PTS</td>
                    <td class="fw-bold">FG%</td>
                    <td class="fw-bold">3PT%</td>
                    <td class="fw-bold">REB</td>
                    <td class="fw-bold">AST</td>
                    <td class="fw-bold">STL</td>
                    <td class="fw-bold">BLK</td>
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <td><a href="/players/<%= playerData[0].player_id%>"><%= topPlayer[0] %></a></td>
                    <td><%= playerData[0].pts %></td>
                    <td><%- parseFloat(playerData[0].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[0].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[0].reb %></td>
                    <td><%= playerData[0].ast %></td>
                    <td><%= playerData[0].stl %></td>
                    <td><%= playerData[0].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[1].player_id%>"><%= topPlayer[1] %></a></td>
                    <td><%= playerData[1].pts %></td>
                    <td><%- parseFloat(playerData[1].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[1].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[1].reb %></td>
                    <td><%= playerData[1].ast %></td>
                    <td><%= playerData[1].stl %></td>
                    <td><%= playerData[1].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[2].player_id%>"><%= topPlayer[2] %></a></td>
                    <td><%= playerData[2].pts %></td>
                    <td><%- parseFloat(playerData[2].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[2].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[2].reb %></td>
                    <td><%= playerData[2].ast %></td>
                    <td><%= playerData[2].stl %></td>
                    <td><%= playerData[2].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[3].player_id%>"><%= topPlayer[3] %></a></td>
                    <td><%= playerData[3].pts %></td>
                    <td><%- parseFloat(playerData[3].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[3].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[3].reb %></td>
                    <td><%= playerData[3].ast %></td>
                    <td><%= playerData[3].stl %></td>
                    <td><%= playerData[3].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[4].player_id%>"><%= topPlayer[4] %></a></td>
                    <td><%= playerData[4].pts %></td>
                    <td><%- parseFloat(playerData[4].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[4].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[4].reb %></td>
                    <td><%= playerData[4].ast %></td>
                    <td><%= playerData[4].stl %></td>
                    <td><%= playerData[4].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[5].player_id%>"><%= topPlayer[5] %></a></td>
                    <td><%= playerData[5].pts %></td>
                    <td><%- parseFloat(playerData[5].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[5].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[5].reb %></td>
                    <td><%= playerData[5].ast %></td>
                    <td><%= playerData[5].stl %></td>
                    <td><%= playerData[5].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[6].player_id%>"><%= topPlayer[6] %></a></td>
                    <td><%= playerData[6].pts %></td>
                    <td><%- parseFloat(playerData[6].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[6].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[6].reb %></td>
                    <td><%= playerData[6].ast %></td>
                    <td><%= playerData[6].stl %></td>
                    <td><%= playerData[6].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[7].player_id%>"><%= topPlayer[7] %></a></td>
                    <td><%= playerData[7].pts %></td>
                    <td><%- parseFloat(playerData[7].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[7].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[7].reb %></td>
                    <td><%= playerData[7].ast %></td>
                    <td><%= playerData[7].stl %></td>
                    <td><%= playerData[7].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[8].player_id%>"><%= topPlayer[8] %></a></td>
                    <td><%= playerData[8].pts %></td>
                    <td><%- parseFloat(playerData[8].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[8].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[8].reb %></td>
                    <td><%= playerData[8].ast %></td>
                    <td><%= playerData[8].stl %></td>
                    <td><%= playerData[8].blk %></td>
                </tr>
                <tr>
                    <td><a href="/players/<%= playerData[9].player_id%>"><%= topPlayer[9] %></a></td>
                    <td><%= playerData[9].pts %></td>
                    <td><%- parseFloat(playerData[9].fg_pct * 100).toFixed(2) %></td>
                    <td><%- parseFloat(playerData[9].fg3_pct * 100).toFixed(2) %></td>
                    <td><%= playerData[9].reb %></td>
                    <td><%= playerData[9].ast %></td>
                    <td><%= playerData[9].stl %></td>
                    <td><%= playerData[9].blk %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-md justify-content-center">
        
        <div class="col-md-auto fs-4 fw-bold text">PLAYOFF GAMES: </div>
        <table class="col table table-striped">
            <tbody>
                <% for(let i = 0; i < 15; i++) { %> 
                    <% if (games[i].home_team_score != 0) { %>
                <tr>
                    <% function dateChange(date)  { %>
                        <% date = new Date(date)%>
                        <% date.setDate(date.getDate() + 1) %>
                        <% return  date.toLocaleDateString()  } %>
                    <td><%= dateChange(games[i].date) %></td>
                    <td><div class="column"><a href="/teams/<%= games[i].home_team.id %>">
                        <img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].home_team.abbreviation).toLowerCase() %>.png" alt="" width="50" height="50"> 
                        </div>
                        <div class="column">
                        <%= games[i].home_team.name %></a>
                    </div>
                    </td>
                    <% if (games[i].home_team_score > games[i].visitor_team_score) { %>
                    <td class="fw-bold fs-2"><%= games[i].home_team_score %></td>
                    <td class="fs-2"><%= games[i].visitor_team_score %></td>
                    <% } else { %>
                        <td class="fs-2"><%= games[i].home_team_score %></td>
                        <td class="fw-bold fs-2"><%= games[i].visitor_team_score %></td>
                    <% } %>
                    <td class="column text-end">
                        <div class="column">
                            <img src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/<%= (games[i].visitor_team.abbreviation).toLowerCase() %>.png" alt="" width="50" height="50">
                        </div>
                        <a href="/teams/<%= games[i].visitor_team.id %>"><%= games[i].visitor_team.name %>
                        </a></td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include('./partials/footer') %>
