<%- include('../partials/header') %>

        <div class="header">
            <div><h1><%= title %></h1></div>
            
            <table>

                <thead>
                    <tr>
                        <td>Name:</td>
                        <td>Team:</td>
                        <td>Pos:</td>
                    </tr>
                </thead
                    <% foundPlayers.forEach(function(p) { %>
                <tbody>
                    <tr>
                        <td><a href="/players/<%= p.id %>"><%= `${p.firstName} ${p.lastName}`%></td>
                        <td><%= `${p.city} ${p.team}`%></td>
                        <td><%= p.position %></td>
                    </tr>
                </tbody>
            <% }) %>
            </table>
<%- include('../partials/footer') %>