<%- include('../partials/header') %>

        <div class="header">
            <div><h1><%= title %></h1></div>
            
            <table>
                <% foundPlayers.forEach(function(p) { %>
                <thead>
                    <tr>
                        <td>Name:</td>
                        <td>id: </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/players/<%= p.id %>"><%= `${p.firstName} ${p.lastName}`%></td>
                        <td><%= p.id %></td>
                    </tr>
                </tbody>
            <% }) %>
            </table>
<%- include('../partials/footer') %>