<%- include('../partials/header') %>
</br>
<div class="container-sm d-flex justify-content-center">

    <div class="container">
        <div><h3 class="fw-bold"><%= title %></h3></div>
            <table class="table table-borderless">
                
                <thead>
                    <tr>
                        <td class="fw-bold">NAME</td>
                        <td class="fw-bold">TEAM</td>
                        <td class="fw-bold">POS</td>
                        <td></td>
                    </tr>
                </thead
                    <% foundPlayers.forEach(function(p) { %>
                <tbody>
                    <tr>
                        <td><a href="/players/<%= p.id %>"><%= `${p.firstName} ${p.lastName}`%></a></td>
                        <td><%= `${p.city} ${p.team}`%></td>
                        <td><%= p.position %></td>
                        <td><form action="/players/<%= p.id %>?_method=DELETE" method="POST">
                            <button type="button" class="btn btn-outline-danger">X</button>
                        </form></td>
                    </tr>
                </tbody>
            <% }) %>
            </table>
        </div>

        <div class="container">
            <div><h3 class="fw-bold"><%= title2 %></h3></div>
            <table class="table table-borderless">
   
                <thead>
                    <tr>
                        <td class="fw-bold">NAME</td>
                        <td class="fw-bold">CITY</td>
                        <td class="fw-bold">CONFERENCE</td>                        
                        <td></td>
                    </tr>
                </thead
                    <% foundTeams.forEach(function(f) { %>
                <tbody>
                    <tr>
                        <td><a href="/teams/<%= f.id %>"><%= f.fullName %></a></td>
                        <td><%= f.city %></td>
                        <td><%= `${f.conference}ern` %></td>
                        

                        <td><form action="/teams/<%= f.id %>?_method=DELETE" method="POST">
                            <button type="button" class="btn btn-outline-danger">X</button>
                        </form></td>
                    </tr>
                </tbody>
            <% }) %>
            </table>
        </div>
    </div>
<%- include('../partials/footer') %>